@import "tailwindcss";

@font-face {
  font-family: "Cinema";
  src: url("/fonts/Cinema Font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "yekan";
  src: url("/fonts/Yekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "dana";
  src: url("/fonts/Dana-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@theme {
  --font-cinema: "Cinema", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.yekan{
  font-family: "yekan";
}

.cinema{
   font-family: "Cinema";
}

.dana{
    font-family: "dana";
}

.neu {
    box-shadow: 4px 4px 8px #c9c9c9, -4px -4px 8px #f5f5f5;
}
